body {
    background-color:rgb(148, 222, 228);
    color:rgb(29, 4, 167); 
    font-family: "SUSE", sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin:0;
}
button{
    background-color: rgb(106, 108, 238);
    color:white;
    font-family: "SUSE", sans-serif;
}

.passo {
    display: none;
}
.passo.ativo {
    display:block;
}

main {
    max-width: 90%;
    text-align: center;
}

img {
    max-width: 90%;
}